<oe-modal [title]="this.component.alias" [component]="component" *ngIf="isInitialized">

  <oe-modal-line [name]="'CUSTOM_WIDGETS.CURRENT_PRICE' | translate"
    [value]="currentPrice != null ? (currentPrice | number:'1.2-4') + ' €/kWh' : '-'">
  </oe-modal-line>

  <oe-modal-line [name]="'CUSTOM_WIDGETS.PRICING_DASHBOARD.NEXT_PRICE' | translate"
    [value]="nextPrice != null ? (nextPrice | number:'1.2-4') + ' €/kWh' : '-'">
  </oe-modal-line>

  <oe-modal-line [name]="'CUSTOM_WIDGETS.PRICING_DASHBOARD.NEXT_CHANGE' | translate"
    [value]="formatNextChange()">
  </oe-modal-line>

  <ng-container *ngIf="overrideSource">
    <oe-modal-horizontal-line></oe-modal-horizontal-line>

    <oe-modal-line [name]="'CUSTOM_WIDGETS.PRICING_DASHBOARD.OVERRIDE_ACTIVE' | translate"
      [value]="overrideSource">
    </oe-modal-line>

    <oe-modal-line [name]="'CUSTOM_WIDGETS.PRICING_DASHBOARD.OVERRIDE_VALUE' | translate"
      [value]="overrideValue != null ? (overrideValue | number:'1.2-4') + ' €/kWh' : '-'">
    </oe-modal-line>
  </ng-container>

  <oe-modal-horizontal-line></oe-modal-horizontal-line>

  <h3 style="padding: 0 16px; margin: 8px 0;">
    {{ 'CUSTOM_WIDGETS.PRICING_DASHBOARD.CONTROLLERS' | translate }}
  </h3>

  <ng-container *ngFor="let ctrl of controllers">
    <oe-modal-line [name]="ctrl.alias" [value]="getConstraintType(ctrl) + ': ' + getConstraintValue(ctrl)">
    </oe-modal-line>
  </ng-container>

  <ng-container *ngIf="controllers.length === 0">
    <oe-modal-info-line [info]="'CUSTOM_WIDGETS.PRICING_DASHBOARD.NO_CONTROLLERS' | translate">
    </oe-modal-info-line>
  </ng-container>

</oe-modal>
