<ng-container *ngIf="isInitialized">
    <oe-flat-widget (click)="presentModal()" [icon]="{name:'cash-outline', color:'normal'}"
        [title]="component.alias">
        <oe-flat-widget-line [name]="'CUSTOM_WIDGETS.CURRENT_PRICE' | translate"
            [value]="currentPrice != null ? (currentPrice | number:'1.2-4') + ' €/kWh' : '-'">
        </oe-flat-widget-line>
        <oe-flat-widget-line [name]="'CUSTOM_WIDGETS.PRICING_DASHBOARD.NEXT_PRICE' | translate"
            [value]="nextPrice != null ? (nextPrice | number:'1.2-4') + ' €/kWh' : '-'">
        </oe-flat-widget-line>
        <oe-flat-widget-line [name]="'CUSTOM_WIDGETS.PRICING_DASHBOARD.NEXT_CHANGE' | translate"
            [value]="formatNextChange()">
        </oe-flat-widget-line>
        <oe-flat-widget-line *ngIf="overrideSource"
            [name]="'CUSTOM_WIDGETS.PRICING_DASHBOARD.OVERRIDE_ACTIVE' | translate"
            [value]="overrideSource">
        </oe-flat-widget-line>
    </oe-flat-widget>
</ng-container>
