<ng-container *ngIf="isInitialized">
    <oe-flat-widget (click)="presentModal()" [icon]="{name:'cash-outline', color:'normal'}"
        [title]="component.alias">
        <oe-flat-widget-line [name]="'General.currentPrice' | translate"
            [value]="currentPrice !== null && currentPrice !== undefined ? (currentPrice | number:'1.2-4') + ' €/kWh' : '-'">
        </oe-flat-widget-line>
        <oe-flat-widget-line [name]="'Edge.Index.Widgets.EVCS.PricingDashboard.nextPrice' | translate"
            [value]="nextPrice !== null && nextPrice !== undefined ? (nextPrice | number:'1.2-4') + ' €/kWh' : '-'">
        </oe-flat-widget-line>
        <oe-flat-widget-line [name]="'Edge.Index.Widgets.EVCS.PricingDashboard.nextChange' | translate"
            [value]="formatNextChange()">
        </oe-flat-widget-line>
        <oe-flat-widget-line *ngIf="overrideSource"
            [name]="'Edge.Index.Widgets.EVCS.PricingDashboard.overrideActive' | translate"
            [value]="overrideSource">
        </oe-flat-widget-line>
    </oe-flat-widget>
</ng-container>
