<ng-container *ngIf="isInitialized">
    <oe-flat-widget (click)="presentModal()" [icon]="{name:'pricetag-outline', color:'normal'}"
        [title]="component.alias">
        <oe-flat-widget-line [name]="'General.state' | translate" [value]="propertyMode"
            [converter]="CONVERT_MANUAL_ON_OFF">
        </oe-flat-widget-line>
        <ng-container *ngIf="propertyMode === 'MANUAL_ON'">
            <oe-flat-widget-line [name]="'CUSTOM_WIDGETS.CURRENT_PRICE' | translate"
                [value]="currentPrice !== null ? (currentPrice | number:'1.2-4') + ' €/kWh' : '-'">
            </oe-flat-widget-line>
        </ng-container>
    </oe-flat-widget>
</ng-container>
